<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
 <display-name>Servlet 3.0 Web Application</display-name>
  <servlet>
    <servlet-name>DriverServlet</servlet-name>
    <servlet-class>driver.DriverController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DriverServlet</servlet-name>
    <url-pattern>/menu/driver/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>disp.DispatcherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/menu/dispatcher/</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
	<filter-name>LoginFilter</filter-name>
	<filter-class>filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>LoginFilter</filter-name>
	<url-pattern>/menu/*</url-pattern>
  </filter-mapping>
<resource-ref>
<res-ref-name>jdbc/appname</res-ref-name>
<res-type>javax.sql.DataSource</res-type>
<res-auth>Container</res-auth>
</resource-ref>
</web-app>